@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,500,600,700|Roboto:300,400,500,700");
body {
  color: #fff;
  background: #111111;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #c4dfeg;
}
h1,
h2 {
  font-weight: 700;
}
h4 {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 65px;
  color: #c4dfeg;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
p {
  font-family: "Roboto", sans-serif;
}
a,
.th-nav-btn,
.btn {
  text-decoration: none;
}
a:hover,
.th-nav-btn:hover,
.btn:hover {
  text-decoration: none;
}
a:focus,
.th-nav-btn:focus,
.btn:focus {
  outline: none;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button:hover,
button:focus {
  outline: none;
}
.flex {
  display: flex;
}
.padding-0 {
  padding: 0;
}
.margin-0 {
  margin: 0 !important;
}
.btn-main {
  border-radius: 0;
  background: #facd8a;
  border-color: #facd8a;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 11px 18px;
  transition: 0.5s;
}

.btn-main:hover,
.btn-main:focus {
  color: #111111;
  border-color: transparent;
  background: #fff;
}
/**/
.hover-in {
  transition: 0.3s ease-out;
}
.hover-out {
  transition: 0.3s ease-in;
}
.media-link a {
  color: #212121;
  display: inline-block;
  margin: 0 7px;
  font-size: 18px;
  transition: 0.5s;
}
#Container .mix {
  display: none;
}
#google-map {
  width: 100%;
  height: 660px;
}
.fp-enabled body,
html.fp-enabled {
  overflow: auto !important;
}
.title {
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: relative;
}
.title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 3px;
  width: 70px;
  background: #facd8a;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.animate {
  stroke: black !important;
  animation: signature 0.3s linear forwards;
}
.animate1 {
  stroke: black !important;
  animation: signature1 0.3s linear forwards;
}
@keyframes signature {
  from {
    stroke-dasharray: 0 1500;
  }
  to {
    stroke-dasharray: 1500 0;
  }
}
@keyframes signature1 {
  from {
    stroke-dasharray: 0 500;
  }
  to {
    stroke-dasharray: 500 0;
  }
}
.opacity-0 {
  opacity: 0;
}
.svgclass {
  height: 100%;
  width: 100%;
  justify-content: center;
}
h4 {
  font-family: "Cormorant", serif;
}
.navigation {
  margin-bottom: 0;
  border-bottom: 0;
  padding: 20px 0;
  transition: 0.3s all;
}
.navigation .logo {
  padding-top: 0;
}
.sticky-header {
  background: rgba(0, 59, 70, 0.73);
}
.menu li a {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  transition: 0.5s;
  position: relative;
}
.menu li a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  opacity: 0;
  width: 0;
  height: 1px;
  transition: 0.5s;
  background: #facd8a;
}
.menu li a:hover {
  text-decoration: none;
  color: #facd8a;
}
.menu li a:hover:before {
  opacity: 1;
  width: 100%;
  left: 0;
}
.menu li a:hover,
.menu li a:focus {
  background: transparent;
}
.header.main {
  background: url(../img/header_bg/banner-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.header.main.services-header {
  background: url(../img/header_bg/services-folding-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.header.main.portfolio-header {
  background: url(../img/header_bg/portfolio-folding-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.header.main.contact-header {
  background: url(../img/header_bg/contact-folding-img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.header {
  position: relative;
  z-index: 10;
}
.page-header {
  padding: 200px 0;
  margin: 0;
  border-bottom: 0;
}
div.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #171717;
  z-index: 9999999999999;
}
.windows8 {
  position: relative;
  width: 52px;
  height: 52px;
  margin: auto;
}
.windows8 .wBall {
  position: absolute;
  width: 49px;
  height: 49px;
  opacity: 0;
  transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  animation: orbit 6.96s infinite;
  -o-animation: orbit 6.96s infinite;
  -ms-animation: orbit 6.96s infinite;
  -webkit-animation: orbit 6.96s infinite;
  -moz-animation: orbit 6.96s infinite;
}
.windows8 .wBall .wInnerBall {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #facd8a;
  left: 0px;
  top: 0px;
  border-radius: 6px;
}
.loading-position {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.windows8 #wBall_1 {
  animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -moz-animation-delay: 1.52s;
}
.windows8 #wBall_2 {
  animation-delay: 0.3s;
  -o-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
}
.windows8 #wBall_3 {
  animation-delay: 0.61s;
  -o-animation-delay: 0.61s;
  -ms-animation-delay: 0.61s;
  -webkit-animation-delay: 0.61s;
  -moz-animation-delay: 0.61s;
}
.windows8 #wBall_4 {
  animation-delay: 0.91s;
  -o-animation-delay: 0.91s;
  -ms-animation-delay: 0.91s;
  -webkit-animation-delay: 0.91s;
  -moz-animation-delay: 0.91s;
}
.windows8 #wBall_5 {
  animation-delay: 1.22s;
  -o-animation-delay: 1.22s;
  -ms-animation-delay: 1.22s;
  -webkit-animation-delay: 1.22s;
  -moz-animation-delay: 1.22s;
}
@keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
    transform: rotate(900deg);
  }
}
@-webkit-keyframes orbit {
  0% {
    opacity: 1;
    z-index: 99;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
  7% {
    opacity: 1;
    -webkit-transform: rotate(300deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 0%;
  }
  30% {
    opacity: 1;
    -webkit-transform: rotate(410deg);
    -webkit-animation-timing-function: ease-in-out;
    -webkit-origin: 7%;
  }
  39% {
    opacity: 1;
    -webkit-transform: rotate(645deg);
    -webkit-animation-timing-function: linear;
    -webkit-origin: 30%;
  }
  70% {
    opacity: 1;
    -webkit-transform: rotate(770deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 39%;
  }
  75% {
    opacity: 1;
    -webkit-transform: rotate(900deg);
    -webkit-animation-timing-function: ease-out;
    -webkit-origin: 70%;
  }
  76% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(900deg);
  }
}
.footer {
  padding: 65px 0 40px;
  background: rgba(33, 180, 171, 0.75);
  font-size: 16px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.8);
}
.footer a {
  display: block;
}
.footer-title {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding-bottom: 40px;
}
.footer-nav ul {
  padding: 49px 0 50px;
}
.footer-nav li {
  padding: 0 22px;
  display: inline-block;
}
.footer-nav li:first-child {
  padding-top: 0;
}
.footer-nav li:last-child {
  padding-bottom: 0;
}
.footer-nav a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
  padding: 0 4px;
  position: relative;
}
.footer-nav a:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  opacity: 0;
  width: 0;
  height: 1px;
  transition: 0.5s;
  background: #facd8a;
}
.footer-nav a:hover {
  text-decoration: none;
  color: #facd8a;
}
.footer-nav a:hover:before {
  opacity: 1;
  width: 100%;
  left: 0;
}
.contact-address a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.5s;
}
.contact-address a:hover {
  color: #facd8a;
}
.footer-media-link li {
  display: inline-block;
}
.footer-media-link li:last-child {
  padding-bottom: 0;
}
.footer-media-link a {
  font-size: 28px;
  line-height: 1;
  padding: 10px;
  color: #fff;
  transition: 0.5s;
  display: inline-block;
}
.footer-media-link a:hover {
  color: #facd8a;
}
.copyright {
  border-top: 1px solid rgba(60, 60, 60, 0.6);
  padding-top: 35px;
  font-size: 12px;
  line-height: 18px;
}
.copyright a {
  color: #fff;
  display: inline-block;
}
.case-study {
  padding-top: 80px;
  background: #171717;
}
.case-study .content h4 {
  padding-bottom: 13px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #facd8a;
  font-weight: bold;
}
.case-study .content p {
  font-size: 16px;
  color: rgba(175, 175, 175, 0.8);
}
.case-study .content .btn {
  margin-top: 30px;
}
.box-subtitle,
.box-title {
  margin: 0;
}
.box-subtitle {
  letter-spacing: 2px;
  padding: 17px 0 20px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.case-study-content {
  padding-top: 58px;
  padding-bottom: 90px;
}
.case-study-content:nth-child(odd) {
  padding-top: 100px;
  padding-bottom: 180px;
  background: #121212;
}
.clients-logo {
  padding: 100px 0;
  background-attachment: fixed;
}
.clients-logo .block {
  padding: 40px 0;
  background: rgba(102, 165, 173, 0.7);
  transition: 0.5s;
  height: 200px;
}
.clients-logo .block img {
  height: auto;
}
.clients-logo .block:hover {
  background: #fff;
}
.clients-logo .block:hover img {
  -webkit-filter: invert(1);
}
.hero-area {
  color: #000;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team {
  padding: 65px 0 0;
}
.team-member {
  position: relative;
  padding-bottom: 60px;
  padding-top: 20px;
}
.team-member img {
  width: 100%;
}
.overlay {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 50px;
  opacity: 0;
  background: rgba(139, 29, 33, 0.75);
  transition: 0.4s;
}
.overlay:hover {
  opacity: 1;
  bottom: 70px;
  height: 100%;
  width: 100%;
  align-self: center;
  position: absolute;
  background-color: rgba(67, 71, 70, 1);
  font-family: "Poppins", sans-serif;
}
.overlay:hover .social-media,
.overlay:hover .content {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.overlay .content {
  transition: 0.5s;
  overflow: hidden;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}
.overlay .content h4 {
  padding-top: 7px;
  margin-bottom: 3px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
.overlay .content span {
  color: rgba(255, 255, 255, 0.8);
}
.overlay .content p {
  color: #121212;
  margin: 0;
  padding: 20px 0;
}
.overlay .social-media {
  margin-bottom: 3px;
  margin-top: 3px;
  transition: 0.8s;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
.overlay .social-media li {
  list-style: none;
  display: inline-block;
  margin: 0 8px;
}
.overlay .social-media li a {
  color: #ffffff;
  font-size: 22px;
}

.section h2 {
  text-shadow: 1px 1px #258846;
}
.team h2 {
  text-shadow: 1px 1px #2f384e;
}
.setmargin {
  margin: 0 15%;
}
.clients.main {
  background: url(../img/home/clients-logo-bg-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}
.clients {
  padding: 65px 0;
}
.slider-main {
  background: rgba(0, 59, 70, 0.8);
}
.title {
  margin-bottom: 30px;
}
.testimonials-area {
  position: relative;
  padding: 90px 75px;
  text-align: center;
}
.testimonials-area .testimonials-description {
  margin-bottom: 35px;
  font-family: "Lora", serif;
  font-size: 15px;
  line-height: 25px;
}
@media only screen and (min-width: 1px) and (max-width: 992px) {
  .navigation .navbar-toggle span {
    background: #fff;
  }
  .hero-area h1 {
    font-size: 35px;
  }
  .box-title {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .content-description {
    padding: 0 0 30px;
  }
  .content-description .inner-title {
    padding-bottom: 8px;
  }
  .content-description .case-description {
    padding-bottom: 10px;
  }
  .th-normal {
    padding: 40% 0;
  }
  .owl-buttons .owl-prev {
    left: 0;
  }
  .owl-buttons .owl-next {
    right: 0;
  }
  .owl-pagination {
    bottom: 8px;
  }
  .clients {
    padding: 20px;
  }
  .clients-description {
    padding: 30px 19px;
  }
  .clients-logo {
    padding: 20px 0;
  }
  .client-logo {
    padding: 20px;
  }
  .th-mouse-effect-card {
    position: relative;
  }
  .th-list {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 25px;
  }
  .team-overlay:hover .th-list {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .content h4 {
    font-size: 1vh;
  }
  .content span {
    font-size: 1vh;
  }
  .padding-20 {
    padding: 5px;
  }
  .setmargin2 {
    margin: 0 5%;
  }
  .contact-us {
    text-align: center;
  }

  .contact-description {
    padding: 20px;
  }
  .contact-description br {
    display: none;
  }
  .contact-description {
    position: static;
    background: #111111;
    padding: 20px 0;
  }
  .protfolio-mixitup-btn .th-btn {
    display: block;
    margin: 0 auto 20px;
  }
  .portfolio-single-info {
    position: static;
    top: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .portfolio-single-info {
    padding: 20px;
    box-shadow: none;
  }
  .portfolio-single {
    padding: 20px;
  }
  .portfolio-single .title {
    margin-bottom: 30px;
  }
  .gallery-description p {
    padding: 0 15px 60px;
  }
  .contact-info {
    position: static;
    padding: 30px 0 0;
  }
  .contact-img {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
  }
  .contact-img img {
    width: 100%;
  }
  .contact-content {
    padding: 4% 21%;
  }
  .th-textarea {
    margin-top: 30px;
  }
  footer {
    padding: 15px 0;
    text-align: center;
  }
  footer br {
    display: none;
  }
  footer .widget {
    padding-bottom: 40px;
  }
  footer .contact {
    padding: 0;
  }
  footer .contact,
  footer .address {
    display: inline-block;
    margin: 0 20px;
  }
  footer .footer-top div {
    margin-bottom: 40px;
  }
  .footer-title {
    padding-bottom: 10px;
  }
  .footer-nav li {
    padding: 7px 10px;
    display: inline-block;
  }
  .footer-media-link li {
    padding: 0 15px;
    display: inline-block;
  }
  form .padding-left-15 {
    padding-left: 0;
  }
}
